.main {

    background-color: #1B4965;
    padding: 1.5vh;
    height: auto;
    display: flex;
    justify-content: space-between;

}



.title {

    color: aliceblue;
    font-size: 5vh;
}


a {
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: row;

}

.button {
    padding: 2px;
    margin-right: 5vh;
    font-size: 4vh;
    font-weight: 600;
    color: #d4e6f3;



}
.side {
    display: none;
}
.button:hover {

    background-color: #62B6CB;
}

@media screen and (max-width:768px) {
    .main {
        background-color: black;
    }

    .right {
        position: relative;
    }

    .right a {
        display: none;
    }

    .side {
        display: block;
    }

    .open .right a {
        display: flex;
    }

    .open .right {
        flex-direction: column;
        align-items: flex-end;
    }

}


